.die-io {
  margin: auto;
  padding: 10px;
}

.die-command-container {
  width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.die-command-input {
  width: 200px;
  margin: auto;
}

.die-io > table {
  width: 900px;
  table-layout: fixed;
  margin: auto;
}

.die-io > table > th, td {
  width: 90%;
  overflow: hidden;
}

.die-io .mat-row:hover .mat-cell {
  cursor: pointer;
  background-color: #E8EAF6;
}