.dice-container {
	text-align: center;
	float: none;
	table-layout: fixed;
	max-width: 600px;
	width: 80%;
}

.die-container {
	display: block;
	text-align: center;
	float: none;
	margin: auto;
	padding: 5px;
}

.die-btn {
	border-color: white;
	border-radius: 10px;
	padding: 5px;
	width: 60px;
}

.results-table {
	text-align: center;
	float: none;
	margin: 0 auto;
	table-layout: fixed;
	max-width: 600px;
	width: 80%;
}
